*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: #fff

}
html,
body{
  height:100%;
  width:100%;
}

body{
  background-color: #111;
}
.card{
  background-color: rgb(195, 14, 44);
  margin:20px;
  padding: 20px;
  border-radius: 10px;
}